<div class="container">
  <div class="mt-5"></div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header text-center">
          <div class="circle">
            <img
              src="https://scontent.fbog15-1.fna.fbcdn.net/v/t1.6435-1/p480x480/95651673_3425097424170467_6840265181621125120_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=7206a8&_nc_ohc=QKDUxyCl5t4AX9DQ2ak&_nc_ht=scontent.fbog15-1.fna&oh=5195d99c37b9f48f941a966448320d90&oe=615C69A5"
              alt="">
          </div>
          <div>
            Dashboard
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Mi perfil. </li>
          <li class="list-group-item active">Mis ordenes</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            <h3> 
            <a [routerLink]="['/account/orders/list']" class="btn btn-primary"> <-</a>  ¡<strong class="logo">Papi</strong>! este es el seguimiento de tu pedido
            </h3>
          </div>





          <div class="container bootdey">
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <h4 class="text-center">{{product.name}}</h4>

                    <!-- Timeline start -->
                    <div class="timeline">
                      <div class="timeline-row" *ngFor="let item of follow">
                        <div class="timeline-time">
                          {{item.date | date:'shortTime'}}<small>{{item.date | date}}</small>
                        </div>
                        <div class="timeline-dot fb-bg"></div>
                        <div class="timeline-content">
                          <!--<i class="fa fa-map-marker"></i>-->
                          <h4>{{item.name}}</h4>
                          <p>{{item.description}}</p>
                        </div>
                      </div>
                    <!--  <div class="timeline-row">
                        <div class="timeline-time">
                          8:00 AM<small>May 18</small>
                        </div>
                        <div class="timeline-dot green-one-bg"></div>
                        <div class="timeline-content green-one">
                          <h4>Admin theme!</h4>
                          <p>
                            Milestone Admin Dashboard contains C3 graphs, flot graphs, data tables, calendar.
                          </p>

                        </div>
                      </div>
                      <div class="timeline-row">
                        <div class="timeline-time">
                          7:25 PM<small>May 6</small>
                        </div>
                        <div class="timeline-dot green-two-bg"></div>
                        <div class="timeline-content green-two">
                          <h4>Best Admin Template!</h4>
                          <p>Custom C3 graphs, Custom flot graphs, flot graphs, small graphs, Sass, profile and
                            timeline.</p>

                        </div>
                      </div>
                      <div class="timeline-row">
                        <div class="timeline-time">
                          3:55 PM<small>Apr 26</small>
                        </div>
                        <div class="timeline-dot green-three-bg"></div>
                        <div class="timeline-content green-three">
                          <h4>Milestone Admin</h4>
                          <p>
                            Admin theme includes graphs, invoice, timeline, widgets, projects, calendar, components,
                            layouts,
                            todo's.
                          </p>

                        </div>
                      </div>
                      <div class="timeline-row">
                        <div class="timeline-time">
                          5:24 PM<small>Apr 12</small>
                        </div>
                        <div class="timeline-dot green-four-bg"></div>
                        <div class="timeline-content green-four">
                          <h4>Milestone Dashboard</h4>
                          <p class="no-margin">Milestone Admin Dashboard includes invoice, profile, tasks, gallery,
                            projects,
                            maintanence.</p>

                        </div>
                      </div>
                      <div class="timeline-row">
                        <div class="timeline-time">
                          11:25 AM<small>Apr 19</small>
                        </div>
                        <div class="timeline-dot teal-bg"></div>
                        <div class="timeline-content teal">
                          <h4>Milestone Template</h4>
                          <p class="no-margin">Panels, alerts, notifications, new input styles, pricing plans, project
                            plan,
                            signup, login and register.</p>

                        </div>
                      </div>
                      <div class="timeline-row">
                        <div class="timeline-time">
                          12:30 PM<small>May 25</small>
                        </div>
                        <div class="timeline-dot sea-green-bg"></div>
                        <div class="timeline-content sea-green">
                          <h4>Milestone dashboard</h4>
                          <p>Milestone Admin Dashboard contains Ion slider, heatmap, alerts, breadcrumbs, alerts,
                            pricing, signup,
                            login and register.</p>

                        </div>
                      </div>-->
                    </div>
                    <!-- Timeline end -->
                  </div>
                </div>
              </div>
            </div>





          </div>
        </div>
      </div>
    </div>
  </div>
