body {
  background: rgb(206, 93, 59) !important;
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.loginContainer{
    border: 1px solid #ad491a;
    padding: 25px 10px 10px 10px;
    box-shadow: 1px 1px 1px #ff723c;
}