<div class=" vertical-center">
  <!-- 
    ^--- Added class  -->
  <div class="container">
    <div class="text-center">
      <p>
        <img src="./assets/img/logo.svg">
      </p>
      <div>
        <div class="row">
          <div class="text-center offset-md-4 col-md-4">
            <p class="text-white"><span class="logo">Papi ! ,</span> Resgistrate con el número celular.</p>
            <div class="loginContainer show " id="loginContainer">
              <form [formGroup]="profileForm" autocomplete="off" (submit)="onSubmitt()">
                <div class="row">
                  <div class="form-group col-4">
                    <input type="text" disabled class="form-control" placeholder="+57">
                  </div>
                  <div class="form-group col-8">
                    <input type="text" class="form-control" placeholder="Número celular" formControlName="Phone">
                  </div>
                  <div class="text-center" style="display: inline-block;     width: 100%;">
                    <button type="submit" [disabled]="!profileForm.valid"
                      class="btn btn-success justify-content-center">Registra tu número</button>
                  </div>
                </div>
              </form>
              <div id="recaptcha-container"></div>

            </div>
            <div class="verifySMS hidde" id="verifySMS">
              <div class="col-sm-12">
                <form [formGroup]="verifySMS" autocomplete="off" (submit)="onSubmittVerifySMS()">
                    <input type="text" placeholder="Código de verificación" formControlName="Code" class="form-control">
                    <div class="mb-2"></div>
                    <button type="submit" [disabled]="!verifySMS.valid" class="btn btn-success">Verifica el codigo</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button (click)="signOut()">salir</button>
