<div class="mt-5"></div>
<footer style="border-top:1px solid #e9e9e9; ">
  <div class="container">
    <div class="mt-3"></div>

    <div class="row">

      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-3">
            <div class="" style="border-radius: 5px; border:1px solid #e9e9e9; padding:10px;">
              <img src="./assets/img/ico-tiempo.webp" alt="">
            </div>
          </div>
          <div class="col-sm-9">
            <strong>Ahorra tiempo </strong>
            <div>
              <small> Recibe tu mercado en menos de 1 hora</small>

            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-3">
            <div class="" style="border-radius: 5px; border:1px solid #e9e9e9; padding:10px;">
              <img src="./assets/img/ico-amor.webp" alt="">
            </div>
          </div>
          <div class="col-sm-9 justify-content-center">
            <strong>Ahorra tiempo </strong>
            <div>
              <small> Recibe tu mercado en menos de 1 hora</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4  justify-content-center">
        <div class="row">
          <div class="col-sm-3 ">
            <div class="" style="border-radius: 5px; border:1px solid #e9e9e9; padding:10px;">
              <img src="./assets/img/ico-calidad.webp" alt="">
            </div>
          </div>
          <div class="col-sm-9">
            <strong>Ahorra tiempo </strong>
            <div>
              <small> Recibe tu mercado en menos de 1 hora</small>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-2"></div>
  </div>
  <div style="width:100%; border:1px solid #e9e9e9; padding:20px 0 20px 0;" class="">
    <div class="container">
      <div class="row">
        <div class="col-sm-4" style="border-right: 1px solid #e9e9e9;">
          <h4>Categorias</h4>
          <ul>
            <li>Despensa</li>
            <li>Farmacia</li>
            <li>Abarrotes</li>
          </ul>
        </div>
        <div class="col-sm-4" style="border-right: 1px solid #e9e9e9;">
          <h4>Información de interes</h4>
          <ul>
            <li>Términos y condiciones</li>
            <li>Registra tu restaurante</li>
            <li><strong class="logo">Papi !</strong> Crece con nosotros</li>
          </ul>
        </div>
        <div class="col-sm-4 socialNetwork">
            <h4>Redes</h4>
          <ul>
            <li>
              <a href="https://www.facebook.com/profile.php?id=100000107305131" target="_blank"><i
                  class="fab fa-facebook-f"></i>
              </a>
            </li>

            <li>
              <a href="https://www.linkedin.com/in/rojasandres/" target="_blank"> <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/andresrojas566/" target="_blank"> <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center" style="margin-top:5px; padding:15px;">
      @ <strong class="logo">Papi</strong>
    </div>
  </div>
</footer>
