<p>signup works!</p>
<div id="recaptcha-container"></div>

<form [formGroup]="profileForm" autocomplete="off" (submit)="onSubmitt()">
  <input type="text" placeholder="Your phone" formControlName="Phone" value="3213989368">
  <button type="submit" [disabled]="!profileForm.valid">Ve</button>
</form>
<form [formGroup]="verifySMS" autocomplete="off" (submit)="onSubmittVerifySMS()">
  <input type="text" placeholder="Your phone" formControlName="Code">
  <button type="submit" [disabled]="!verifySMS.valid">CodeSMS</button>
</form>

<button (click)="signOut()">salir</button>
