<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="./assets/img/logoColor.svg" alt="" width="50">
    </a>
    <a (click)="signOut();" class="btn btn-danger btn-sm">LogOut</a>

  </div>
</nav>
