<div class="container">
  <div class="mt-5"></div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header text-center">
          <div class="circle">
            <img
              src="https://scontent.fbog15-1.fna.fbcdn.net/v/t1.6435-1/p480x480/95651673_3425097424170467_6840265181621125120_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=7206a8&_nc_ohc=QKDUxyCl5t4AX9DQ2ak&_nc_ht=scontent.fbog15-1.fna&oh=5195d99c37b9f48f941a966448320d90&oe=615C69A5"
              alt="">
          </div>
          <div>
            Dashboard
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Mi perfil. </li>
          <li class="list-group-item active">Mis ordenes</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            <h3>
              ¡Mis últimos pedidos!
            </h3>
          </div>
          <div class="row">
            <div class="col-sm-12 order" id="order">
              <ul>
                <li>
                  <div class="itemOrder" *ngFor="let item of products">
                    <div class="row">
                      <div class="col-sm-4 text-center" style="border-right: 1px solid #e9e9e9;">
                        <img [src]="'./assets/img/'+item.img" alt="">
                        <div class="mt-3"></div>

                        <div style="font-size: 12px;">
                          <strong>{{item.name}} </strong>
                          <div>
                            <small> $ {{item.price | number}} </small>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <h4>
                          {{item.name}} </h4>
                        <table class="table table-borderless">
                          <tbody>
                            <tr>
                              <td><strong>Fecha</strong></td>
                              <td>
                                <div>{{item.date}} </div>
                              </td>
                            </tr>
                            <tr>
                              <td><strong>Total</strong></td>
                              <td>
                                <div>$ {{item.price | number}} </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <a class="btn btn-success btn-sm" [routerLink]="['../follow', item.id]"> Ver resumen</a>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
