/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';

// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
@import '~ngx-toastr/toastr-bs4-alert';

// if you'd like to use it without importing all of bootstrap it requires
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

body {
  background: #fff;
}

.logo {
  font-family: 'Sedgwick Ave Display', cursive;
  color: #ce5d3b;
}

.hidde {
  display: none;
  
  transition: all 1.5s;
  margin-top: 50px;
  opacity: .5;
  visibility: hidden;

}

.show {
  display: block;
  transition: all 1.5s;
  visibility: visible;
  opacity: 1;
}

footer{
  background: #fff;
  font-size: 13px;
}
footer h4{
  font-size: 14px;
}
footer li{
  list-style: none;
}
.btn-success{
  background:#0cc665;
}
b, strong {
  font-weight: 400;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';



.itemOrder {
  border: 1px solid #e9e9e9;
  padding: 20px;
  border-radius:4px;
  margin-bottom:20px;
}

.itemOrder h4 {
  font-size: 16px;
}

.order li {
  list-style: none;margin: 10px 0 10px 0;
}

.order ul {
  padding: 0;
  margin: 0;
}
.itemOrder img{
    width: 50%;
    object-fit: cover;
}
.itemOrder .table-borderless th,.itemOrder .table-borderless td,.itemOrder .table-borderless thead th,.itemOrder .table-borderless tbody + tbody{
    padding: 0;
}
.itemOrder table{
    font-size: 13px;
}
.circle{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border:1px solid #e9e9e9;
  overflow: hidden;
  display: inline-block;
}
.circle img{
  object-fit: cover;
  width: 100%;
}